@keyframes bouncDown {
	0% {
		opacity: 0;
		transform: rotate(-15deg) translateY(-20px);
	}
	20% {
		opacity: 0;
		transform: rotate(-15deg) translateY(-20px);
	}
	50% {
		opacity: 0.3;
		transform: rotate(-18deg) translateY(-25px);
	}
	100% {
		opacity: 1;
		transform: rotate(0) translateY(0);
	}
}

@keyframes bouncBelow {
	to {
		opacity: 0;
		transform: rotate(15deg) translateY(20px);
	}
}

@keyframes slideout {
	from { height: 0; }
}

@keyframes show {
	from { opacity: 0; }
}

@keyframes hide {
	to { opacity: 0; }
}

.animating {
	transform-origin: 0 0;
}

.animating:not(:last-child) {
	position: absolute;
}

.animating:first-child {
	animation: bouncDown .2s cubic-bezier(0.58, 0.25, 0.88, 0.49);
	animation-fill-mode: both;
}

.animating:last-child {
	animation: bouncBelow .15s cubic-bezier(0.58, 0.25, 0.88, 0.49);
	animation-delay: .1s;
	animation-fill-mode: both;
}