:host {
    display: block;
}

component {
    top: 8px;
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.125));
    background-position-y: 1px;
    border-top: 1px solid rgba(238, 238, 238, 0.25);
    position: relative;
    
    transform: skewX(-40deg);
}

component a {
    transform: skewX(40deg);
    display: inline-block;
    font-size: 24px;
    color: white;
    line-height: 22px;
}

component::after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 1px;
    background: white;
    top: -1px;
    opacity: 0.45;
    animation: loading 8s linear both infinite;
}
