:host {
    display: block;
}

component {
    top: 8px;
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.125));
    background-position-y: 1px;
    border-top: 1px solid rgba(238, 238, 238, 0.25);
    position: relative;
}

component::after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 1px;
    background: white;
    top: -1px;
    opacity: 0.25;
    animation: loading 8s linear both infinite;
}

@keyframes loading {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    50.1% {
        width: 100%;
        right: 0;
        left: auto;
    }
    100% {
        width: 0%;
        right: 0;
        left: auto;
    }
}

.prefix {
    text-transform: uppercase;
    margin-right: 15px;
    color: rgba(238, 238, 238, 0.75);
    font-size: 18px;
    font-weight: 100;
}

.name {
    color: white;
    font-weight: 500;
    font-size: 20px;
}
