body {
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity .25s ease;
    
    --streamlabs:none;
}

layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

@keyframes slide-in {
    from { transform: translateX(-100%) }
}

overlay-spotify[playing="true"] {
    animation: slide-in .25s ease-out;
}
